@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* COMMON CSS */
html {box-sizing: border-box; font: 16px/1.6 'Spoqa Han Sans Neo', sans-serif;}
* {margin: 0; padding: 0; box-sizing: inherit;}
ul {list-style-type: none;}
button {border: none; outline: none; background: transparent;}
input {border: none; outline: none;}
a {text-decoration: none; color: inherit;}
div, header, nav, main, footer, section, article, ul, li {margin: 0; padding: 0; box-sizing: border-box;} 
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
img {vertical-align: top;}



/* ROOT */
:root {
  --main-bg-color: #efebde;
  --result-bg-color: #281e14;
  --main-color: #645246;
  --sub-color: #99bca3;
  --result-color: #daa45f;
  --starbucks-color: #085832;
  --white-color: #ffffff;
  --black-color: #0c0c0c;
}


body {
  background-color: var(--sub-color);
}

section {
  /* display: none; */
  position: relative;
  width: 360px;
  height: 640px;
  margin: 0 auto;
  word-break: keep-all;
}

.q_slide {
  overflow: hidden;
}

.q_items {
  width: 100%;
  height: 100%;
  display: flex;
  transition: all 1s;
}

.q_item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  /* margin-right: 10px; */
  padding: 120px 50px 20px;
  background-color: var(--main-bg-color);

  text-align: center;
}

/* Q HEADER */
.q_header {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  opacity: 0;
  transition: opacity 1s;
}
.q_header.on {
  opacity: 1;
}

.back_btn {
  width: 80px;
  height: 50px;
  cursor: pointer;
}
.back_btn i,
.back_btn span {
  pointer-events: none;
}

/* Q FOOTER */
.q_footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.copy_title {
  font-size: 12px;
}


/* BTN */
.btn {
  width: 240px;
  height: 56px;
  padding: 4px 25px;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}
.btn:hover .num_circle {
  background-color: var(--white-color);
  color: var(--main-color);
}
.btn.active:active {
  background-color: var(--result-bg-color);
  color: var(--white-color);
}
.btn.active {
  background-color: var(--main-color);
  color: var(--white-color);
}


/* 사전질문 */
.title {
  font: 38px 'InkLipquid';
  margin: 20px auto 0;
  color: var(--result-bg-color);
}

.coffee_illu {
  width: 50px;
  margin: 20px;
  opacity: 0;
}

.intro_text {
  margin: 0 auto 30px;
  opacity: 0;
}

.start_btn,
.order_btn {
  opacity: 0;
}

.brand_btn {
  width: 100px;
  height: 100px;
  cursor: pointer;
  opacity: 0;
}

.brand_btn img {
  width: 100%;
}

.name_input {
  width: 240px;
  height: 48px;
  padding: 8px 16px;
  margin: 0 auto 100px;
  border-radius: 15px;
  font-size: 16px;
  background-color: var(--white-color);
  color: var(--black-color);
  text-align: center;
  opacity: 0;
}




/* 질문 리스트 */
.questions {
  width: 100%;
  height: 160px;
  opacity: 0;
}

.questions h2 {
  font-size: 38px;
  margin: 0 auto 6px;
  color: var(--result-bg-color);
}
.questions h2 span {
  font: 52px 'InkLipquid';
}
.questions p {
  font-size: 20px;
  line-height: 28px;
}

.answers {
  opacity: 0;
}

.q_btn {
  margin: 0 auto 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.num_circle {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--white-color);
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  pointer-events: none;
}

.answer {
  display: block;
  line-height: 30px;
  pointer-events: none;
}




/* 결과 페이지 */
.result_page {
  display: none;
  padding: 40px 20px 20px;
  background-color: var(--result-bg-color);
  color: var(--white-color);
  text-align: center;
  overflow: auto;
}
.recommend_phrase {
  font-size: 14px;
  color: var(--main-bg-color);
}
.result_user_name {
  font-family: 'InkLipquid';
  font-size: 26px;
  line-height: 28px;
}

.beverage_result {
  font-size: 24px;
  margin: 8px auto;
}

.result_img {
  display: block;
  width: 80%;
  margin: 42px auto 16px;
}

.result_desc {
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
  color: var(--main-bg-color);
}

.socials {
  color: var(--result-color);
  width: 50%;
  margin: 30px auto;
}

.socials_wrap {
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  color: var(--result-bg-color);
}

.copyright {
  font-size: 12px;
  line-height: 16px;
}

